# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
# ignora la carpeta webdriver que tiene el driver de chrome
webdriver
/.vscode/